#header{
    display: flex;
    width: 70%;
    align-content: center;
}
nav,
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    
}
nav ul{
    margin-left: 300px;
    font-size: x-large;
}
nav ul a {
padding: 10px;
color:red;
}
nav h1{
    text-align: center;
}
#inner{
    width: 70%;
    margin: auto;
}
#homebutton{
    color: yellowgreen;
}
